# This is Git's per-user configuration file.
[user]
       name = James Carragher
       email = james@carragher.org
[push]
       default = simple
[core]
       editor = nvim
       excludesfile = ~/.gitignore
[commit]
	gpgsign = false
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
        tree = log --graph --decorate --pretty=oneline --abbrev-commit
        changelog = "!git log --reverse --pretty=format:'* %s' \"$1\"..\"$2\" #"
        prodlog = "!git tag -l --sort=creatordate --format='%(refname:short)' | grep production | tail -2 | tr '\n' ' ' | xargs -n2 sh -c 'printf \"$0..$1\n\n\"; git changelog $0 $1' #"
        needsdeploy = "!git tag -l --sort=creatordate --format='%(refname:short)' | grep production | tail -1 | xargs -n1 sh -c 'printf \"$0..HEAD\n\n\"; git changelog $0 HEAD' #"
[submodule]
	recurse = true
[pull]
	ff = only
[init]
	defaultBranch = master
