[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = git@github.com:jcarrag/prezto.git
[submodule "nixpkgs/.config/nixpkgs/derivations/easy-purescript-nix"]
	path = nixpkgs/.config/nixpkgs/derivations/easy-purescript-nix
	url = git@github.com:justinwoo/easy-purescript-nix.git
[submodule "nix-channels/nix-channels/release-unstable"]
	path = nix-channels/nix-channels/release-unstable
	url = git@github.com:nixos/nixpkgs
	branch = nixpkgs-unstable
[submodule "nix-channels/nix-channels/release-20.03"]
	path = nix-channels/nix-channels/release-20.03
	url = git@github.com:NixOS/nixpkgs.git
	branch = release-20.03
