clojure/.lein/repl-history
atom/.atom/packages
atom/.atom/.apm
atom/.atom/.node-gyp/
atom/.atom/blob-store/
atom/.atom/compile-cache/
atom/.atom/storage/
atom/.atom/github.cson
fish/.config/*
!fish/.config/config.fish
sbt/.sbt/boot/
sbt/.sbt/preloaded/
sbt/.sbt/*
!sbt/.sbt/*/plugins/plugins.sbt
*.hi
*.o
*.errors
xmonad-x86_64-linux
