clojure/.lein/repl-history
atom/.atom/packages
atom/.atom/*
!atom/.atom/config.cson
!atom/.atom/init.coffee
!atom/.atom/keymap.cson
!atom/.atom/packages.list
!atom/.atom/snippets.cson
!atom/.atom/styles.less
fish/.config/*
!fish/.config/config.fish
sbt/.sbt/boot/
sbt/.sbt/preloaded/
sbt/.sbt/*
!sbt/.sbt/*/plugins/plugins.sbt
*.hi
*.o
*.errors
xmonad-x86_64-linux
