clojure/.lein/repl-history
atom/.atom/packages
atom/.atom/.apm
atom/.atom/.node-gyp/
atom/.atom/blob-store/
atom/.atom/compile-cache/
atom/.atom/storage/
atom/.atom/github.cson
project/
target/
sbt/.sbt/1.0/zinc
