"*":
  Ensime:
    sbtExec: "/usr/local/bin/sbt"
  "atom-beautify":
    general:
      _analyticsUserId: "45005c37-101a-42c2-b446-5aa61c57456b"
  core:
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "solarized-light-syntax"
    ]
  "cursor-history": {}
  "exception-reporting":
    userId: "9b67037b-7fd9-2eb9-1ecd-3f85d1d983d2"
  "lisp-paredit": {}
  "tool-bar":
    visible: false
  "vim-mode-plus":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: true
